.background.scroll-content {
  background: url('../templates/bck1.png') no-repeat;
  background-size: cover;
}
.home.scroll-content {
  background: url('../templates/bck1.PNG') no-repeat;
  background-size: cover;
}
.padding.scroll-content {
  background: url('../templates/bck1.png') no-repeat;
  background-size: cover;
}

