.navbar{
    background: #ff4cfe;
    background-repeat: no-repeat;

    width: 1024px;
    height: 30px;
    margin: 0 auto;
}
.navbar-brand{
    color:white;
    padding-left:38%;
    font-family: Microsoft sans-serif;
    font-size:35px;
}
#logout{
    color: rebeccapurple;
    padding-left: 35%;
    font-family: Micro;
    padding-top: 1.5%;
    font-family: Microsoft sans-serif;
    font-size:20px;
    margin-right: auto;
}
.glyphicon-off{
    font-size:14px;
}
body{
    background: url('https://www.clipartsgram.com/image/1284342478-56573976094735chapwood-website-background-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.row{
    width:60%;
    margin-left:20%;
    margin-top:5%;
}
.apiClass{
    margin-top:10px;
}
.btn{
    font-size:10px;
    font-family:"Microsoft Sans Serif";
}
#faceDetection,#textToSpeech{
    padding:5px;
}
#spanFaceDetectionHeading,#spanTextToSpeechHeading{
    font-weight:bold;
    font-size:20px;
}
.Defination{
    font-size:16px
}