<ion-view view-title="Home Page" name="login-view" class="padding" style="background: url(../templates/im.jpg); background-size: cover ">
  <ion-content class="background" scroll="false">
    <br>
    <br>

    <button class="button button-block button-balanced" ng-click="toggle()">Get MyLocation</button>
    <div class="item item-text-wrap">
      Latitude :<span ng-bind="lat"></span>
    </div>
    <div class="item item-text-wrap">
      Longitude :<span ng-bind="long"></span>
    </div>


    <div></div>
    <a class="button button-block button-calm" href="#/test5">Whats Here!!</a>
    <a class="button button-block button-energized" href="#/test5">Mashup</a>
    <a class="button button-block button-calm" href="#/login">Log Out</a>




  </ion-content>


</ion-view>
