<ion-view view-title="Register" name="login-view" style="background: url(../templates/bck1.png); background-size: cover ">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="data.username">
      </label>
        <label class="item item-input">
        <input type="text" placeholder="Enter email" ng-model="data.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="data.password">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Confirm Password" ng-model="data.cnpassword">
      </label>
    </div>
    <button class="button button-block button-calm">Register</button>
    <a class="button button-block button-calm" href="#/login">Go back</a>

  </ion-content>
</ion-view>
